<h2>マスタ管理</h2>

<h3>品目マスタ</h3>
<table border="1">
    <tr>
        <th>品目コード</th>
        <th>品目名</th>
        <th>標準単価</th>
    </tr>
    <tr>
        <td>K001</td>
        <td>ケーブル100m</td>
        <td>1,200円</td>
    </tr>
</table>

<h3>得意先マスタ</h3>
<table border="1">
    <tr>
        <th>得意先コード</th>
        <th>得意先名</th>
        <th>住所</th>
    </tr>
    <tr>
        <td>C001</td>
        <td>テスト商事</td>
        <td>兵庫県西宮市</td>
    </tr>
</table>

<h3>棚番マスタ</h3>
<table border="1">
    <tr>
        <th>棚番コード</th>
        <th>説明</th>
    </tr>
    <tr>
        <td>H001</td>
        <td>1階東側棚</td>
    </tr>
</table>
